# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [3]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [9]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("Resources/applicants_data.csv")
)
         
# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [10]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [11]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN" , "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [48]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
#categorical_variables = ["APPLICATION_TYPE" , "AFFILIATION" , "USE_CASE" , "IS_SUCCESSFUL"]

In [49]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [50]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [51]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)
# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [65]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
number_var_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ], 
    axis=1
)

# Review the Dataframe
number_var_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [66]:
# Define the target set y using the IS_SUCCESSFUL column
y = number_var_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [68]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = number_var_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [69]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [70]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [71]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])


# Review the number of features
number_input_features

116

In [74]:
# Define the number of neurons in the output layer
number_output_neurons = 200

In [75]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [76]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [77]:
# Create the Sequential model instance
nn = Sequential()

In [78]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [79]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [80]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [81]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [82]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [83]:
# Fit the model using 50 epochs and the training data
model_fit = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 9s 2ms/step - loss: 0.5752 - accuracy: 0.7177
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7305
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7337
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7345
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7358
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7369
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7364
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7386
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7383
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7376
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7387
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7384
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7393
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7400
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7398
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7400
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7413
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7406

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [84]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 4s - loss: 0.5544 - accuracy: 0.7299 - 4s/epoch - 15ms/step
Loss: 0.5543624758720398, Accuracy: 0.729912519454956

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [123]:
# Set the model's file path
file_path = Path("../Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [94]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [95]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 250

In [96]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [97]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [98]:
# First hidden layer
hidden_nodes_layer1_A1


# Output layer
number_output_neurons_A1


# Check the structure of the model

250

In [100]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [112]:
# Fit the model using 50 epochs and the training data
model_fit_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 934us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 2/50
804/804 [==============================] - 1s 915us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 3/50
804/804 [==============================] - 1s 879us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 4/50
804/804 [==============================] - 1s 870us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 5/50
804/804 [==============================] - 1s 878us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 6/50
804/804 [==============================] - 1s 862us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 7/50
804/804 [==============================] - 1s 876us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 8/50
804/804 [==============================] - 1s 883us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 9/50
804/804 [==============================] - 1s 870us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 10/50
804/804 [==============================] - 1s 909us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 11/50
804/804 [==============================] - 1s 963us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 12/50
804/804 [==============================] - 1s 943us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 14/50
804/804 [==============================] - 1s 946us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 15/50
804/804 [==============================] - 1s 903us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 16/50
804/804 [==============================] - 1s 890us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 17/50
804/804 [==============================] - 1s 920us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 18/50
804/804 [==============================] - 1s 942us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05: 0s - loss: 7.8585 - accuracy: 8.2237
Epoch 21/50
804/804 [==============================] - 1s 883us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 22/50
804/804 [==============================] - 1s 893us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 23/50
804/804 [==============================] - 1s 897us/step - loss: 7.8675 - accuracy: 7.7748e-050s - loss: 7.8301 - accura
Epoch 24/50
804/804 [==============================] - 1s 915us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 25/50
804/804 [==============================] - 1s 905us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 26/50
804/804 [==============================] - 1s 910us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 27/50
804/804 [==============================] - 1s 910us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 28/50
804/804 [==============================] - 1s 891us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 29/50
804/804 [==============================] - 1s 936us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 30/50
804/804 [==============================] - 1s 882us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 31/50
804/804 [==============================] - 1s 902us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 32/50
804/804 [==============================] - 1s 894us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 33/50
804/804 [==============================] - 1s 920us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 34/50
804/804 [==============================] - 1s 899us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 35/50
804/804 [==============================] - 1s 900us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 36/50
804/804 [==============================] - 1s 897us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 37/50
804/804 [==============================] - 1s 883us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 38/50
804/804 [==============================] - 1s 904us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 39/50
804/804 [==============================] - 1s 912us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 40/50
804/804 [==============================] - 1s 931us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 41/50
804/804 [==============================] - 1s 946us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 43/50
804/804 [==============================] - 1s 880us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 44/50
804/804 [==============================] - 1s 923us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 45/50
804/804 [==============================] - 1s 922us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 46/50
804/804 [==============================] - 1s 905us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 47/50
804/804 [==============================] - 1s 889us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 48/50
804/804 [==============================] - 1s 886us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 49/50
804/804 [==============================] - 1s 920us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 50/50
804/804 [==============================] - 1s 895us/step - loss: 7.8675 - accuracy: 7.7748e-05

#### Alternative Model 2

In [113]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [114]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 250

In [115]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [116]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [117]:
# First hidden layer
hidden_nodes_layer1_A2

# Output layer
number_output_neurons_A2

# Check the structure of the model
# YOUR CODE HERE

250

In [118]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [119]:
# Fit the model
model_fit_A2 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 970us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 2/50
804/804 [==============================] - 1s 923us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 3/50
804/804 [==============================] - 1s 929us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 4/50
804/804 [==============================] - 1s 957us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 5/50
804/804 [==============================] - 1s 957us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 6/50
804/804 [==============================] - 1s 919us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 7/50
804/804 [==============================] - 1s 878us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 8/50
804/804 [==============================] - 1s 879us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 9/50
804/804 [==============================] - 1s 893us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 10/50
804/804 [==============================] - 1s 938us/step - loss: 7.8675 - accuracy: 7.7748e-050s - loss: 7.8742
Epoch 11/50
804/804 [==============================] - 1s 938us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 12/50
804/804 [==============================] - 1s 939us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 13/50
804/804 [==============================] - 1s 950us/step - loss: 7.8675 - accuracy: 7.7748e-050s - loss: 7.8772 - accura
Epoch 14/50
804/804 [==============================] - 1s 948us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 15/50
804/804 [==============================] - 1s 938us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 16/50
804/804 [==============================] - 1s 980us/step - loss: 7.8675 - accuracy: 7.7748e-050s - loss:
Epoch 17/50
804/804 [==============================] - 1s 896us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 18/50
804/804 [==============================] - 1s 927us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 19/50
804/804 [==============================] - 1s 897us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 20/50
804/804 [==============================] - 1s 892us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 21/50
804/804 [==============================] - 1s 881us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 22/50
804/804 [==============================] - 1s 877us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 23/50
804/804 [==============================] - 1s 884us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 24/50
804/804 [==============================] - 1s 884us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 25/50
804/804 [==============================] - 1s 902us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 26/50
804/804 [==============================] - 1s 900us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 27/50
804/804 [==============================] - 1s 916us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 28/50
804/804 [==============================] - 1s 883us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 29/50
804/804 [==============================] - 1s 903us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 30/50
804/804 [==============================] - 1s 893us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 31/50
804/804 [==============================] - 1s 907us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 32/50
804/804 [==============================] - 1s 898us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 33/50
804/804 [==============================] - 1s 905us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 34/50
804/804 [==============================] - 1s 893us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 35/50
804/804 [==============================] - 1s 908us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 36/50
804/804 [==============================] - 1s 917us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 40/50
804/804 [==============================] - 1s 898us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 41/50
804/804 [==============================] - 1s 899us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 42/50
804/804 [==============================] - 1s 917us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 43/50
804/804 [==============================] - 1s 899us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 44/50
804/804 [==============================] - 1s 894us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 45/50
804/804 [==============================] - 1s 902us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 46/50
804/804 [==============================] - 1s 893us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 47/50
804/804 [==============================] - 1s 930us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 48/50
804/804 [==============================] - 1s 903us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 49/50
804/804 [==============================] - 1s 897us/step - loss: 7.8675 - accuracy: 7.7748e-05
Epoch 50/50
804/804 [==============================] - 1s 896us/step - loss: 7.8675 - accuracy: 7.7748e-05

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [120]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5544 - accuracy: 0.7299 - 245ms/epoch - 914us/step
Loss: 0.5543624758720398, Accuracy: 0.729912519454956

In [121]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 7.8073 - accuracy: 1.1662e-04 - 298ms/epoch - 1ms/step
Loss: 7.807291507720947, Accuracy: 0.00011661807366181165

In [122]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 7.8073 - accuracy: 1.1662e-04 - 365ms/epoch - 1ms/step
Loss: 7.807291507720947, Accuracy: 0.00011661807366181165

### Step 3: Save each of your alternative models as an HDF5 file.

In [124]:
# Set the file path for the first alternative model
file_path = file_path = Path("../Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [125]:
# Set the file path for the second alternative model
file_path = file_path = Path("../Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)